body {
  margin: 0px auto;
  padding: 0;
  font-family: sans-serif;
  color: #fff;
  font-size: 40px;
  background-color: #000;
}

button {
  font-size: 40px;
  width: 100px;
  height: 70px;
  margin: 10px;
}

#root {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
}
