<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/TizenReactPoC" version="1.0.0" viewmodes="maximized">
    <tizen:application id="E8fJRAgsTq.TizenReactPoC" package="E8fJRAgsTq" required_version="2.3.2"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>TizenReactPoC</name>
    <tizen:profile name="wearable"/>
</widget>
